td{
    border-style: solid;
    border-width: 1px;
    font-size: 300%;
}

td:hover{
    background-color: cyan;
}

#checkedResult{
    color: green;
    font-size: 200%;
}

#diagonal{
    border:1px solid;
}
