<table class="table" style="width: 100%">
    <tr>
        <td colspan="3">
            <label for="Task_Title">Bucket Name</label>
            <input data-bind="value: title" type="text" class="form-control" id="inputBucketTitle" placeholder="Enther Bucket Title here">
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <label for="Description">Description</label>
            <textarea data-bind="value: description" class="form-control" id="inputBucketDesc" rows="3"></textarea>
        </td>
    </tr>
    <tr>
        <td style="width: 20%;">
            <label class="checkbox">
                <input data-bind="checked: private" type="checkbox"> Private
            </label>
        </td>
        <td style="width: 20%">
            <label class="checkbox">
                <input data-bind="checked: done" type="checkbox"> Done
            </label>
        </td>
        <td style="vertical-align: middle;"> </td>
    </tr>
</table>
<table style="width:100%;">
    <tr>
        <td style="width: 35%;">
            <select class="form-control" data-bind='options: sampleProductCategories, optionsText: "name", value: category'> </select>
        </td>
        <td data-bind="with: category" style="width:35%;">
            <select class="form-control" data-bind='options: products, optionsText: "range", optionsCaption: "Select...", value: $parent.product'> </select>
        </td>
        <td class='price' data-bind='with: product' style="width:30%;">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input data-bind="value: dueDate" type='text' class="form-control" data-format="YYYY/MM/DD" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker5').datetimepicker({
                        pickTime: false
                    });
                });
            </script>
        </td>
    </tr>
</table>
<div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td colspan="4"><h5><b>Todo List</b></h5></td>
            </tr>
        </thead>
        <tbody data-bind="foreach: todos">
            <tr>
                <td style="width: 15%; vertical-align: middle">
                    <span data-bind="visible: tododone" class="label label-success">Done</span>
                    <span data-bind="visible: !tododone()" class="label label-danger">In Progress</span>
                </td>
                <td style="width: 50%"><span data-bind="text: todotitle"></span></td>
                <td style="width: 20%; text-align: center;"><span data-bind="text: tododeadline"></span></td>
                <td style="width: 15%">controls</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>
                    <input data-bind="value: inputTodoTitle" type="text" class="form-control" id="inputBucketTitle" placeholder="Enther Bucket Title here">
                </td>
                <td style="text-align: center;">
                    <input data-bind="value: inputTodoDue" type='text' class="form-control" id='datetimepicker6' style="width: 100px"/>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker6').datetimepicker();
                        });
                    </script>
                   </td>
                <td><button data-bind="click: addTodo" class="btn btn-primary">ADD</button></td>
            </tr>
        </tfoot>
    </table>
</div>