<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="container">
<div class="col-md-8">
<div class="well well-large" style="height: 300px;">
    <div class="pull-right">
        <img src="{{user.avatar(128)}}" class="img-polaroid">
    </div>
    <h1>{{user.username}}<small>'s <a href="{{ url_for('show_buckets', username = user.username) }}">Bucket List</a></small></h1>
    {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
    {% if user.last_seen %}
    <p><em>{{ _('Last seen:') }} {{ momentjs(user.last_seen).calendar() }}</em></p>
    {% endif %}
    <p>{{ _('Followers:') }} {{user.followers.count()}} | {{ _('Following:') }} {{user.followed.count()}} |
    {% if user.id == g.user.id %}
        <a href="{{url_for('edit')}}">{{ _('Edit your profile') }}</a>
{#		{% include 'social_auth.html' %}#}
    {% elif not g.user.is_following(user) %}
        <a href="{{url_for('follow', username = user.username)}}">{{ _('Follow') }}</a>
    {% else %}
        <a href="{{url_for('unfollow', username = user.username)}}">{{ _('Unfollow') }}</a>
    {% endif %}
    </p>
    
</div>
{% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
<ul class="pager">
    {% if posts.has_prev %}
    <li class="previous"><a href="{{ url_for('user', username = user.username, page = posts.prev_num) }}">{{ _('Newer posts') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Newer posts') }}</a></li>
    {% endif %}
    {% if posts.has_next %}
    <li class="next"><a href="{{ url_for('user', username = user.username, page = posts.next_num) }}">{{ _('Older posts') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Older posts') }}</a></li>
    {% endif %}
</ul>
</div>
    <div class="userlist col-md-4">
    {% include 'userlist.html' %}	
    </div>
</div>
<form method="post" action="" id="disconnect-form"></form>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('.static', filename = 'js/users.js') }}"></script> 
<script>
var usersViewModel = new UsersViewModel();
ko.applyBindings(usersViewModel, $('#userlist')[0]);

$(function () {
    $(document).on('click', 'a.disconnect', function (e) {
        e.preventDefault();
        $('form#disconnect-form')
            .attr('action', $(this).attr('href'))
            .submit();
    });
    $("button[data-href]").click( function() {
        location.href = $(this).attr("data-href");
    });
});
</script>
{% endblock %}