<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{title}} - DreamProject</title>
        {% else %}
            <title>Dream Project</title>
        {% endif %}
		<link href="{{ url_for('.static', filename = 'css/app.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		{% block stylesheet %}{% endblock %}
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ url_for('.static', filename = 'js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('.static', filename = 'js/bucket.js') }}"></script>
        <script src="{{ url_for('.static', filename = 'js/moment.min.js') }}"></script>
        {% if g.locale != 'en' %}
        <!-- <script src="{{ url_for('.static', filename = 'js/moment-' + 'g.locale' + '.min.js') }}"></script> -->
        {% endif %}
        <script> // MicroSoft Translation
            function translate(sourceLang, destLang, sourceId, destId, loadingId) {
                $(destId).hide();
                $(loadingId).show();
                $.post('/translate', {
                    text: $(sourceId).text(),
                    sourceLang: sourceLang,
                    destLang: destLang
                }).done(function(translated) {
                    $(destId).text(translated['text'])
                    $(loadingId).hide();
                    $(destId).show();
                }).fail(function() {
                    $(destId).text("{{ _('Error: Could not contact server.') }}");
                    $(loadingId).hide();
                    $(destId).show();
                });
            }
        </script>
    </head>
    <body>
        <div id="nav" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Dream proj.</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">{{ _('Timeline') }}</a></li>
                        {% if g.user.is_authenticated() %}
                        <li><a href="http://masunghoon.iptime.org:5000/bucketlist">{{ _('Bucket List') }}</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if g.user.is_authenticated() %}
                            <!-- Single button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> Profile <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for('user', username = g.user.username )}}">User Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{url_for('logout')}}">Sign out</a></li>
                                  </ul>
                                </div>
                            {% else %}
                              <!-- Split button -->
                                <div class="btn-group">
                                  <!--<button type="button" class="btn btn-default navbar-btn" data-href="{{url_for('login')}}"> -->
                                  <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal"> 
                                       <span class="glyphicon glyphicon-user"></span> Sign in</button>
                                  <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for("social.auth", backend="facebook") }}">Sign up with Facebook</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ url_for('register')}}">Register</a></li>
                                  </ul>
                                </div>       
                            {% endif %}
                        </li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
	    </div>
        <div class="container" id="main">
            {% block content %}{% endblock %}
            <footer>
                <hr>
                <p>© Company 2013</p>
        	</footer>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="loginModalLabel">Sign In</h3>
              </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputUsername">Username</label>
                            <div class="controls">
                                <input data-bind="value: username" type="text" id="inputUsername" placeholder="Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input data-bind="value: password" type="password" id="inputPassword" placeholder="Password">
                            </div>
                        </div>
                    </form>
                </div>              
              <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <a href="{{ url_for('login') }}" role="button" class="btn btn-primary" >Sign in</a>&nbsp;&nbsp;or
                <a href="{{ url_for('register') }}" role="button" class="btn btn-success" >Register</a>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        
        <form method="post" action="" id="disconnect-form"></form>
        {% block scripts %}{% endblock %}
    </body>
</html>
