<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{title}} - DreamProject</title>
        {% else %}
            <title>Dream Project</title>
        {% endif %}
		<link href="../static/css/app.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
        
        <script src="../static/js/moment.min.js"></script>
        <script>
            function translate(sourceLang, destLang, sourceId, destId, loadingId) {
                $(destId).hide();
                $(loadingId).show();
                $.post('/translate', {
                    text: $(sourceId).text(),
                    sourceLang: sourceLang,
                    destLang: destLang
                }).done(function(translated) {
                    $(destId).text(translated['text'])
                    $(loadingId).hide();
                    $(destId).show();
                }).fail(function() {
                    $(destId).text("{{ _('Error: Could not contact server.') }}");
                    $(loadingId).hide();
                    $(destId).show();
                });
            }
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">Dream proj.</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
                        {% if g.user.is_authenticated() %}
                        <li><a href="{{ url_for('user', username = g.user.username )}}">Your Profile</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if g.user.is_authenticated() %}
                                <button type="button" class="btn btn-success navbar-btn" data-href="{{url_for('logout')}}">
                                    <span class="glyphicon glyphicon-user"></span> Logout
                                </button>
                            {% else %}
        				    <!-- Split button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-success navbar-btn" data-href="{{url_for('login')}}">Sign in</button>
                                  <button type="button" class="btn btn-success dropdown-toggle navbar-btn" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for("social.auth", backend="twitter") }}"><img src="../static/img/twt_login.png" width="130"></a> </li>
                                    <li><a href="{{ url_for("social.auth", backend="facebook") }}">Facebook</a> </li>
                                    <li class="divider"></li>
                                    <li><a href="{{ url_for('login')}}">Sign Up</a></li>
                                  </ul>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
	    </div>
		<!--
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="{{ url_for('index') }}">Dream proj.</a>
		  </div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li><a href="{{ url_for('index') }}">Home</a></li>
			  {% if g.user.is_authenticated() %}
		      <li><a href="{{ url_for('user', username = g.user.username )}}">Your Profile</a></li>
		    	<form class="navbar-form navbar-left" role="search" action="{{url_for('search')}}" method="post" name="search">
		    		{{g.search_form.hidden_tag()}}{{g.search_form.search(size=20)}}
		      		<button type="submit" class="btn btn-default">Search!</button>
		    	</form>
			  {% endif %}
		    </ul>

			{% if g.user.is_authenticated() %}
		    <ul class="nav navbar-nav navbar-right">
		      	<a href="{{url_for('logout')}}"><button type="button" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-user"></span> Logout</button></a>
		    </ul>
			{% else %}
			<ul class="nav navbar-nav navbar-right">
				<a href="{{url_for('login')}}"><button type="button" class="btn btn-primary navbar-btn"><span class="glyphicon glyphicon-user"></span> Sign in</button></a>
			</ul>
			{% endif %}
		  </div>
		</nav>
	-->
        <div class="container">
            {% block content %}{% endblock %}
            <hr>
            <footer>
                <p>© Company 2013</p>
        </footer>
        </div>
        {% block scripts %}{% endblock %}
        
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script> 
        <form method="post" action="" id="disconnect-form"></form>
        <script type="text/javascript">
        $(function () {
            $(document).on('click', 'a.disconnect', function (e) {
                e.preventDefault();
                $('form#disconnect-form')
                    .attr('action', $(this).attr('href'))
                    .submit();
            });
            $("button[data-href]").click( function() {
                location.href = $(this).attr("data-href");
            });
        });
        </script>
    </body>
</html>
