{% extends "base.html" %}

{% block content %}
{% if user.username %}
<h1>Hi, {{user.username}}</h1>
{% else %}
<h1>Hi, Guest!</h1> <a href="{{ url_for("login")}}">Login, please</a><br><br>
{% endif %}
<form action="" method="post" name="post">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <td>Say something:</td>
            <td>{{ form.post(size=30, maxlength=140) }}</td>
            <td>
                {% for error in form.errors.post %}
                <span sytle="color: red;">[{{error}}]</span></br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Post!"></td>
            <td></td>
        </tr>
    </table>
</form>
{% for post in posts.items %}
<!--<div><p>{{post.author.username}} says: <b>{{post.body}}</b></p></div>-->
    {% include 'post.html' %}
{% endfor %}
{% if posts.has_prev %}<a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} | 
{% if posts.has_next %}<a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}
<hr>
<p>Associated:</p>
<ul>
  {% for assoc in backends.associated %}
    <li>
      {{ assoc.provider }} (<a href="{{ url_for("social.disconnect", backend=assoc.provider, association_id=assoc.id) }}" class="disconnect">Disconnect</a>)
    </li>
  {% endfor %}
</ul>
<hr>
<p>Associate:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{{ url_for("social.auth", backend=name) }}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
