<div class="row" id="selector">
    <h2> Javascript</h2>
    <table class="table table-bordered col-md-6">
        <tr>
            <td><input type="checkbox" name="A1">A1</td>
            <td><input type="checkbox" name="A2">A2</td>
            <td><input type="checkbox" name="A3">A3</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="B1">B1</td>
            <td><input type="checkbox" checked name="B2">B2</td>
            <td><input type="checkbox" name="B2">B3</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="C1">C1</td>
            <td><input type="checkbox" name="C2">C2</td>
            <td><input type="checkbox" name="C3">C3</td>
        </tr>
    </table>
    <div>Focus the button</div>
    <button class="btn btn-primary" type="button" id="findChecked" autofocus>Find 'td:hover' target</button>
    <div id = "checkedResult"></div>
</div>

<hr>
<div class="row" id="canvas1">
    <h2> Canvas </h2>

    <canvas id="diagonal" width="400" height="400">
    </canvas>
</div>

<hr>
<div class="row" id="canvas2">
    <h2> Canvas2</h2>

    <canvas id="trails" style="border: 1px solid;" width="400" height="600">
    </canvas>
</div>